.Navbar {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    background-color: rgba(95, 91, 91, 0.57);
    backdrop-filter: 5px;
    color: rgb(255, 255, 255);
    padding-inline: 1rem;

    .left {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.4rem;

        .nav-item {
            p {
                font-size: 0.8rem;
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        font-size: 0.8rem;
    }
}

