*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
main,
#root {
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;

    background-color: aquamarine;

    background-image: url("/wallpaper-macos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;

    overflow: hidden;
}

body{
    
    background-color: rgba(18, 18, 18, 0.927);
}