.windows {
    height: 500px;
    width: 600px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(204, 204, 204);
    background-color: rgb(27, 25, 25);
    border-radius: 0.7rem;

    .nav {
        display: flex;
        align-items: center;
        border-bottom: 1px solid white;
        overflow: hidden;

        .dots {
            padding: 0.5rem;
            display: flex;
            gap: 0.25rem;

            .dot {
                height: 15px;
                width: 15px;
                border-radius: 50%;
            }

            .red {
                background-color: rgb(207, 36, 36);
            }

            .yellow {
                background-color: rgb(248, 221, 18);
            }

            .green {
                background-color: rgb(54, 227, 11);
            }


        }

        .tittle p{
            font-size: 0.9rem;
        }
    }
}